<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="ResumeUpload">Resume Anaylser
				Engine</a>
		</div>
		<ul class="nav navbar-nav navbar-right">

			<li><a class="active" href="#">Resume Analyser</li>
		</ul>

	</div>
</div>
<div class="container body-content">
	<div class="jumbotron">{{data}}</div>
	<footer class="navbar-fixed-bottom">
		<p align="center">© 2016 - ResumeAnaylser</p>
	</footer>